#frame {
	width: 800px;
	height: 450px;
	overflow: hidden;
	position: relative;
}

#tray {
	position: relative;
}

.slide {
	width: 800px;
	height: 450px;
	float: left;
}

a.prev, a.next {
	position: absolute;
	top: 50%;
}

a.prev {
	left: 0;
}

a.next {
	right: 0;
}